<nav class="navbar navbar-expand navbar navbar-dark  bg-info">
  <a class="navbar-brand" > {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.autenticado()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right  bg-info">
      <li>
        <a *ngIf="!authService.autenticado()" [routerLink]="['/login']" class="btn btn-outline-primary">Sign In</a>
      </li>
      <li class="dropdown btn-group" *ngIf="authService.autenticado()">              
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
          {{authService.usuario.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">          
          <a (click)="logout()" class="dropdown-item" type="submit">Sign Out</a>
        </div>      
      </li>
    </ul>
  </div>
</nav>